body {
    font-family: Arial, Helvetica, sans-serif;
}

.emulators {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.emulators a {
    text-decoration: none;
}

.card {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    width: 300px;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-direction: column;
    gap: 12px;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.game {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    width: 300px;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-direction: column;
    gap: 12px;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.12);
}
.header a{
    text-decoration: none;
}